<!DOCTYPE html>
<html>
    <head>
        <title>Campaigns - HorizonBackbone</title>
        <link rel='stylesheet' href='/stylesheets/patternfly.min.css'/>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"/>
    </head>
    <body>
        <div class="pf-v5-c-page">
            <header class="pf-v5-c-masthead">
                <span class="pf-v5-c-masthead__toggle">
                    <button
                        class="pf-v5-c-button pf-m-plain"
                        type="button"
                        aria-label="Global navigation"
                        onclick="document.getElementById('nav').classList.toggle('pf-m-expanded');">
                        <i class="fas fa-bars" aria-hidden="true"></i>
                    </button>
                </span>
                <div class="pf-v5-c-masthead__main">
                    <a class="pf-v5-c-masthead__brand" href="#"><img src="/images/only-logo-no-background.png" width="32px" alt="Logo"></a>
                </div>
                <div class="pf-v5-c-masthead__content">
                    <span>HorizonBackbone</span>
                    <div class="pf-v5-c-page__header-tools">
                        <div class="pf-v5-c-toolbar__item pf-m-hidden pf-m-visible-on-sm">
                            <button
                                class="pf-v5-c-menu-toggle pf-m-full-height"
                                type="button"
                                aria-expanded="false"
                                onclick="document.getElementById('user-menu').classList.toggle('pf-m-expanded');">
                                <span class="pf-v5-c-menu-toggle__icon">
                                    <img
                                        class="pf-v5-c-avatar"
                                        alt="Avatar image"
                                        src="/images/img_avatar-light.svg">
                                </span>
                                <span class="pf-v5-c-menu-toggle__text">User</span>
                                <span class="pf-v5-c-menu-toggle__controls">
                                    <span class="pf-v5-c-menu-toggle__toggle-icon">
                                        <a href="#">Logout</a>
                                    </span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </header>
            <div id="nav" class="pf-v5-c-page__sidebar">
                <div class="pf-v5-c-page__sidebar-body">
                    <nav class="pf-v5-c-nav" aria-label="Global">
                        <section class="pf-v5-c-nav__section" aria-labelledby="group_home">
                            <ul class="pf-v5-c-nav__list" role="list">
                                <li class="pf-v5-c-nav__item">
                                    <a href="/" class="pf-v5-c-nav__link" aria-current="page">Home</a>
                                </li>
                            </ul>
                        </section>
                        <section class="pf-v5-c-nav__section" aria-labelledby="group_c2">
                            <h2 class="pf-v5-c-nav__section-title" id="grouped-title1">Command & Control</h2>
                            <ul class="pf-v5-c-nav__list" role="list">
                                <li class="pf-v5-c-nav__item">
                                    <a href="/c2/campaigns" class="pf-v5-c-nav__link pf-m-current">Campaigns</a>
                                </li>
                                <li class="pf-v5-c-nav__item">
                                    <a href="/c2/agents" class="pf-v5-c-nav__link">Agents</a>
                                </li>
                                <li class="pf-v5-c-nav__item">
                                    <a href="/c2/broadcast" class="pf-v5-c-nav__link">Broadcast</a>
                                </li>
                            </ul>
                        </section>
                        <section class="pf-v5-c-nav__section" aria-labelledby="group_file_exfil">
                            <h2 class="pf-v5-c-nav__section-title" id="grouped-title2">Files</h2>
                            <ul class="pf-v5-c-nav__list" role="list">
                                <li class="pf-v5-c-nav__item">
                                    <a href="/list-files" class="pf-v5-c-nav__link">Fileserver</a>
                                </li>
                                <li class="pf-v5-c-nav__item">
                                    <a href="#" class="pf-v5-c-nav__link">Delivery</a>
                                </li>
                                <li class="pf-v5-c-nav__item">
                                    <a href="#" class="pf-v5-c-nav__link">Data Exfiltration</a>
                                </li>
                            </ul>
                        </section>
                        <section class="pf-v5-c-nav__section" aria-labelledby="group_system">
                            <h2 class="pf-v5-c-nav__section-title" id="grouped-title2">System</h2>
                            <ul class="pf-v5-c-nav__list" role="list">
                                <li class="pf-v5-c-nav__item">
                                    <a href="#" class="pf-v5-c-nav__link">User Management</a>
                                </li>
                                <li class="pf-v5-c-nav__item">
                                    <a href="#" class="pf-v5-c-nav__link">Extra Modules</a>
                                </li>
                                <li class="pf-v5-c-nav__item">
                                    <a href="/system/support" class="pf-v5-c-nav__link">Support</a>
                                </li>
                            </ul>
                        </section>
                    </nav>
                </div>
            </div>
            <main class="pf-v5-c-page__main" tabindex="-1">
                <section class="pf-v5-c-page__main-section">
                        <div class="pf-v5-c-content">
                            <div class="pf-v5-l-grid pf-m-gutter">
                                <!-- component if no campaign exists and button to create new campaign -->
                                <div id="empty_campaign_state" class="pf-v5-l-grid__item pf-m-12-col-on-md">
                                    <div class="pf-v5-c-card">
                                        <div class="pf-v5-c-empty-state">
                                            <div class="pf-v5-c-empty-state__content">
                                                <div class="pf-v5-c-empty-state__header">
                                                    <div class="pf-v5-c-empty-state__icon">
                                                        <i class="fas fa-cubes" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="pf-v5-c-empty-state__title">
                                                        <h1 class="pf-v5-c-empty-state__title-text">No campaign</h1>
                                                    </div>
                                                </div>

                                                <div class="pf-v5-c-empty-state__body">
                                                    Currently there are no campaigns. Click the button below to create a new
                                                    campaign.
                                                </div>

                                                <div class="pf-v5-c-empty-state__footer">
                                                    <div class="pf-v5-c-empty-state__actions">
                                                        <button
                                                            id="button_start_campaign_wizzard"
                                                            class="pf-v5-c-button pf-m-primary"
                                                            type="button">Create campaign</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- dialog component for name and date range of the campaign -->
                                <div
                                    id="campaign_dialog_step1"
                                    style="display: none;"
                                    class="pf-v5-l-grid__item pf-m-12-col-on-md">
                                    <div class="pf-v5-c-wizard">
                                        <div class="pf-v5-c-wizard__header">
                                            <div class="pf-v5-c-wizard__title">
                                                <h1 class="pf-v5-c-wizard__title-text">Create campaign</h1>
                                            </div>
                                            <div class="pf-v5-c-wizard__description">Manage your C2 operations in campaigns</div>
                                        </div>
                                        <div class="pf-v5-c-wizard__outer-wrap">
                                            <div class="pf-v5-c-wizard__inner-wrap">
                                                <nav class="pf-v5-c-wizard__nav" aria-label="Steps">
                                                    <ol class="pf-v5-c-wizard__nav-list" role="list">
                                                        <li class="pf-v5-c-wizard__nav-item">
                                                            <button class="pf-v5-c-wizard__nav-link pf-m-current" type="button">Information</button>
                                                        </li>
                                                        <li class="pf-v5-c-wizard__nav-item">
                                                            <button class="pf-v5-c-wizard__nav-link" type="button">Configuration</button>
                                                        </li>
                                                        <li class="pf-v5-c-wizard__nav-item">
                                                            <button class="pf-v5-c-wizard__nav-link" type="button">Additional</button>
                                                        </li>
                                                        <li class="pf-v5-c-wizard__nav-item">
                                                            <button class="pf-v5-c-wizard__nav-link" type="button" disabled="disabled">Review</button>
                                                        </li>
                                                    </ol>
                                                </nav>
                                                <main class="pf-v5-c-wizard__main" tabindex="0">
                                                    <div class="pf-v5-c-wizard__main-body">
                                                        <form class="pf-v5-c-form pf-m-limit-width">
                                                            <div class="pf-v5-c-form__group">
                                                                <div class="pf-v5-c-form__group-label">
                                                                    <label class="pf-v5-c-form__label" for="wizard-form-field-name">
                                                                        <span class="pf-v5-c-form__label-text">Name</span>&nbsp;<span class="pf-v5-c-form__label-required" aria-hidden="true">&#42;</span>
                                                                    </label>
                                                                </div>
                                                                <div class="pf-v5-c-form__group-control">
                                                                    <span class="pf-v5-c-form-control">
                                                                        <input type="text" id="wizard-form-field-name" name="wizard-form-field-name"/>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="pf-v5-c-form__group">
                                                                <div class="pf-v5-c-form__group-label">
                                                                    <label class="pf-v5-c-form__label" for="wizard-form-field-start-date">
                                                                        <span class="pf-v5-c-form__label-text">Target</span>
                                                                    </label>
                                                                </div>
                                                                <div class="pf-v5-c-form__group-control">
                                                                    <span class="pf-v5-c-form-control">
                                                                        <input
                                                                            type="text"
                                                                            id="wizard-form-field-target"
                                                                            name="wizard-form-field-target"/>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="pf-v5-c-form__group">
                                                                <div class="pf-v5-c-form__group-label">
                                                                    <label class="pf-v5-c-form__label" for="wizard-form-field-start-date">
                                                                        <span class="pf-v5-c-form__label-text">Start date</span></label>
                                                                </div>
                                                                <div class="pf-v5-c-form__group-control">
                                                                    <div class="pf-v5-c-date-picker">
                                                                        <div class="pf-v5-c-date-picker__input">
                                                                            <div class="pf-v5-c-input-group">
                                                                                <div class="pf-v5-c-input-group__item pf-m-fill">
                                                                                    <span class="pf-v5-c-form-control">
                                                                                        <input
                                                                                            type="text"
                                                                                            placeholder="YYYY-MM-DD"
                                                                                            id="wizard-form-field-start-date"
                                                                                            name="helper-text-input"
                                                                                            aria-label="Date picker"/>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="pf-v5-c-date-picker__helper-text">
                                                                            <div class="pf-v5-c-helper-text">
                                                                                <div class="pf-v5-c-helper-text__item">
                                                                                    <span class="pf-v5-c-helper-text__item-text">Select a start date.</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="pf-v5-c-form__group">
                                                                <div class="pf-v5-c-form__group-label">
                                                                    <label class="pf-v5-c-form__label" for="wizard-form-field-end-date">
                                                                        <span class="pf-v5-c-form__label-text">End date</span></label>
                                                                </div>
                                                                <div class="pf-v5-c-form__group-control">
                                                                    <div class="pf-v5-c-date-picker">
                                                                        <div class="pf-v5-c-date-picker__input">
                                                                            <div class="pf-v5-c-input-group">
                                                                                <div class="pf-v5-c-input-group__item pf-m-fill">
                                                                                    <span class="pf-v5-c-form-control">
                                                                                        <input
                                                                                            type="text"
                                                                                            placeholder="YYYY-MM-DD"
                                                                                            id="wizard-form-field-end-date"
                                                                                            name="helper-text-input"
                                                                                            aria-label="Date picker"/>
                                                                                    </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="pf-v5-c-date-picker__helper-text">
                                                                            <div class="pf-v5-c-helper-text">
                                                                                <div class="pf-v5-c-helper-text__item">
                                                                                    <span class="pf-v5-c-helper-text__item-text">Select an end date.</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="pf-v5-c-form__group">
                                                                <div class="pf-v5-c-form__group-label">
                                                                    <label class="pf-v5-c-form__label" for="wizard-basic-form-field4">
                                                                        <span class="pf-v5-c-form__label-text">Description</span></label>
                                                                </div>
                                                                <div class="pf-v5-c-form__group-control">
                                                                    <span class="pf-v5-c-form-control">
                                                                        <textarea
                                                                            id="wizard-form-field-description"
                                                                            name="big-text-field"
                                                                            rows="5"
                                                                            cols="50">Sample description.</textarea>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </main>
                                            </div>
                                            <footer class="pf-v5-c-wizard__footer">
                                                <button
                                                    id="wizzard-step1-button-back"
                                                    class="pf-v5-c-button pf-m-secondary"
                                                    disabled="disabled"
                                                    type="button">Back</button>
                                                <button
                                                    id="wizzard-step1-button-next"
                                                    class="pf-v5-c-button pf-m-primary"
                                                    type="submit">Next</button>
                                                <div class="pf-v5-c-wizard__footer-cancel">
                                                    <button
                                                        id="wizzard-step1-button-cancel"
                                                        class="pf-v5-c-button pf-m-link"
                                                        type="button">Cancel</button>
                                                </div>
                                            </footer>
                                        </div>
                                    </div>
                                </div>

                                <!-- dialog component for configuration of the campaign -->
                                <div
                                    id="campaign_dialog_step2"
                                    style="display: none;"
                                    class="pf-v5-l-grid__item pf-m-12-col-on-md">
                                    <div class="pf-v5-c-wizard">
                                        <div class="pf-v5-c-wizard__header">
                                            <div class="pf-v5-c-wizard__title">
                                                <h1 class="pf-v5-c-wizard__title-text">Create campaign</h1>
                                            </div>
                                            <div class="pf-v5-c-wizard__description">Manage your C2 operations in campaigns</div>
                                        </div>
                                        <div class="pf-v5-c-wizard__outer-wrap">
                                            <div class="pf-v5-c-wizard__inner-wrap">
                                                <nav class="pf-v5-c-wizard__nav" aria-label="Steps">
                                                    <ol class="pf-v5-c-wizard__nav-list" role="list">
                                                        <li class="pf-v5-c-wizard__nav-item">
                                                            <button class="pf-v5-c-wizard__nav-link" type="button">Information</button>
                                                        </li>
                                                        <li class="pf-v5-c-wizard__nav-item">
                                                            <button class="pf-v5-c-wizard__nav-link pf-m-current" type="button">Configuration</button>
                                                        </li>
                                                        <li class="pf-v5-c-wizard__nav-item">
                                                            <button class="pf-v5-c-wizard__nav-link" type="button">Additional</button>
                                                        </li>
                                                        <li class="pf-v5-c-wizard__nav-item">
                                                            <button class="pf-v5-c-wizard__nav-link" type="button" disabled="disabled">Review</button>
                                                        </li>
                                                    </ol>
                                                </nav>
                                                <main class="pf-v5-c-wizard__main" tabindex="0">
                                                    <div class="pf-v5-c-wizard__main-body">
                                                        <form class="pf-v5-c-form pf-m-limit-width">
                                                            <div class="pf-v5-c-form__group">
                                                                <div class="pf-v5-c-form__group-label">
                                                                    <label class="pf-v5-c-form__label" for="wizard-form-field-name">
                                                                        <span class="pf-v5-c-form__label-text">Encryption key</span>&nbsp;<span class="pf-v5-c-form__label-required" aria-hidden="true">&#42;</span></label>
                                                                </div>
                                                                <div class="pf-v5-c-form__group-control">
                                                                    <div class="pf-v5-c-input-group">
                                                                        <div class="pf-v5-c-input-group__item pf-m-fill">
                                                                            <span class="pf-v5-c-form-control ">
                                                                                <input
                                                                                    type="text"
                                                                                    id="wizard-form-field-encryption-key"
                                                                                    name="wizard-form-field-encryption-key"/>
                                                                            </span>
                                                                        </div>
                                                                        <div class="pf-v5-c-input-group__item">
                                                                            <button
                                                                                id="wizzard-form-button-encryption-key"
                                                                                class="pf-v5-c-button pf-m-control"
                                                                                type="button">
                                                                                <i class="fas fa-sync-alt"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="pf-v5-c-form__group">
                                                                <div class="pf-v5-c-form__group-label">
                                                                    <label class="pf-v5-c-form__label" for="wizard-form-field-start-date">
                                                                        <span class="pf-v5-c-form__label-text">Approximate jitter</span>&nbsp;<span class="pf-v5-c-form__label-required" aria-hidden="true">&#42;</span>
                                                                    </label>
                                                                </div>
                                                                <div class="pf-v5-c-form__group-control">
                                                                    <div class="pf-v5-c-input-group">
                                                                        <div class="pf-v5-c-input-group__item pf-m-fill">
                                                                            <span class="pf-v5-c-form-control ">
                                                                                <input
                                                                                    type="number"
                                                                                    id="wizard-form-field-jitter"
                                                                                    name="wizard-form-field-jitter"/>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="pf-v5-c-form__group">
                                                                <div class="pf-v5-c-form__group-label">
                                                                    <label class="pf-v5-c-form__label" for="wizard-form-field-start-date">
                                                                        <span class="pf-v5-c-form__label-text">Time unit for jitter</span>&nbsp;<span class="pf-v5-c-form__label-required" aria-hidden="true">&#42;</span>
                                                                    </label>
                                                                </div>
                                                                <div class="pf-v5-c-form__group-control">
                                                                    <div class="pf-v5-c-input-group">
                                                                        <div class="pf-v5-c-form__group-control pf-m-inline">
                                                                            <div class="pf-v5-c-radio">
                                                                                <input
                                                                                    class="pf-v5-c-radio__input"
                                                                                    type="radio"
                                                                                    id="-time-zone-radio-1"
                                                                                    name="-time-zone-radio"/>

                                                                                <label class="pf-v5-c-radio__label" for="-time-zone-radio-1">Seconds</label>
                                                                            </div>
                                                                            <div class="pf-v5-c-radio">
                                                                                <input
                                                                                    class="pf-v5-c-radio__input"
                                                                                    type="radio"
                                                                                    id="-time-zone-radio-2"
                                                                                    name="-time-zone-radio"/>

                                                                                <label class="pf-v5-c-radio__label" for="-time-zone-radio-2">Minutes</label>
                                                                            </div>
                                                                            <div class="pf-v5-c-radio">
                                                                                <input
                                                                                    class="pf-v5-c-radio__input"
                                                                                    type="radio"
                                                                                    id="-time-zone-radio-3"
                                                                                    name="-time-zone-radio"/>

                                                                                <label class="pf-v5-c-radio__label" for="-time-zone-radio-3">Hours</label>
                                                                            </div>
                                                                            <div class="pf-v5-c-radio">
                                                                                <input
                                                                                    class="pf-v5-c-radio__input"
                                                                                    type="radio"
                                                                                    id="-time-zone-radio-4"
                                                                                    name="-time-zone-radio"/>

                                                                                <label class="pf-v5-c-radio__label" for="-time-zone-radio-4">Days</label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </form>
                                                    </div>
                                                </main>
                                            </div>
                                            <footer class="pf-v5-c-wizard__footer">
                                                <button
                                                    id="wizzard-step2-button-back"
                                                    class="pf-v5-c-button pf-m-secondary"
                                                    type="button">Back</button>
                                                <button
                                                    id="wizzard-step2-button-next"
                                                    class="pf-v5-c-button pf-m-primary"
                                                    type="submit">Next</button>
                                                <div class="pf-v5-c-wizard__footer-cancel">
                                                    <button
                                                        id="wizzard-step2-button-cancel"
                                                        class="pf-v5-c-button pf-m-link"
                                                        type="button">Cancel</button>
                                                </div>
                                            </footer>
                                        </div>
                                    </div>
                                </div>

                                <!-- dialog component for additional configuration of the campaign -->
                                <div
                                    id="campaign_dialog_step3"
                                    style="display: none;"
                                    class="pf-v5-l-grid__item pf-m-12-col-on-md">
                                    <div class="pf-v5-c-wizard">
                                        <div class="pf-v5-c-wizard__header">
                                            <div class="pf-v5-c-wizard__title">
                                                <h1 class="pf-v5-c-wizard__title-text">Create campaign</h1>
                                            </div>
                                            <div class="pf-v5-c-wizard__description">Manage your C2 operations in campaigns</div>
                                        </div>
                                        <div class="pf-v5-c-wizard__outer-wrap">
                                            <div class="pf-v5-c-wizard__inner-wrap">
                                                <nav class="pf-v5-c-wizard__nav" aria-label="Steps">
                                                    <ol class="pf-v5-c-wizard__nav-list" role="list">
                                                        <li class="pf-v5-c-wizard__nav-item">
                                                            <button class="pf-v5-c-wizard__nav-link" type="button">Information</button>
                                                        </li>
                                                        <li class="pf-v5-c-wizard__nav-item">
                                                            <button class="pf-v5-c-wizard__nav-link" type="button">Configuration</button>
                                                        </li>
                                                        <li class="pf-v5-c-wizard__nav-item">
                                                            <button class="pf-v5-c-wizard__nav-link pf-m-current" type="button">Additional</button>
                                                        </li>
                                                        <li class="pf-v5-c-wizard__nav-item">
                                                            <button class="pf-v5-c-wizard__nav-link" type="button" disabled="disabled">Review</button>
                                                        </li>
                                                    </ol>
                                                </nav>
                                                <main class="pf-v5-c-wizard__main" tabindex="0">
                                                    <div class="pf-v5-c-wizard__main-body">
                                                        <form class="pf-v5-c-form pf-m-limit-width">
                                                            <div class="pf-v5-c-form__group">
                                                                <div class="pf-v5-c-form__group-label">
                                                                    <label class="pf-v5-c-form__label" for="wizard-form-field-name">
                                                                        <span class="pf-v5-c-form__label-text">Encryption key</span>&nbsp;<span class="pf-v5-c-form__label-required" aria-hidden="true">&#42;</span></label>
                                                                </div>
                                                                <div class="pf-v5-c-form__group-control">
                                                                    <div class="pf-v5-c-input-group">
                                                                        <div class="pf-v5-c-input-group__item pf-m-fill">
                                                                            <span class="pf-v5-c-form-control ">
                                                                                <input
                                                                                    type="text"
                                                                                    id="wizard-form-field-encryption-key"
                                                                                    name="wizard-form-field-encryption-key"/>
                                                                            </span>
                                                                        </div>
                                                                        <div class="pf-v5-c-input-group__item">
                                                                            <button
                                                                                id="wizzard-form-button-encryption-key"
                                                                                class="pf-v5-c-button pf-m-control"
                                                                                type="button">
                                                                                <i class="fas fa-sync-alt"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </main>
                                            </div>
                                            <footer class="pf-v5-c-wizard__footer">
                                                <button
                                                    id="wizzard-step3-button-back"
                                                    class="pf-v5-c-button pf-m-secondary"
                                                    type="button">Back</button>
                                                <button
                                                    id="wizzard-step3-button-next"
                                                    class="pf-v5-c-button pf-m-primary"
                                                    type="submit">Next</button>
                                                <div class="pf-v5-c-wizard__footer-cancel">
                                                    <button
                                                        id="wizzard-step3-button-cancel"
                                                        class="pf-v5-c-button pf-m-link"
                                                        type="button">Cancel</button>
                                                </div>
                                            </footer>
                                        </div>
                                    </div>
                                </div>

                                <!-- dialog component for review of the campaign -->
                            </div>
                    </section>
                </main>
            </div>
            <script src="/javascripts/campaigns.js"></script>
        </body>
    </html>