<!DOCTYPE html>
<html>
    <head>
        <title><%= Error %></title>
        <link rel='stylesheet' href='/stylesheets/patternfly.min.css'/>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <body>
        <div class="pf-v5-c-page">
            <div class="pf-v5-c-page__main">
                <div class="pf-v5-c-page__main-section pf-m-light">
                    <div class="pf-v5-c-empty-state pf-m-lg">
                        <div class="pf-v5-c-empty-state__content">
                            <div class="pf-v5-c-empty-state__icon">
                                <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
                            </div>
                            <h1 class="pf-v5-c-title pf-m-lg">Error</h1>
                            <div class="pf-v5-c-empty-state__body">
                                <p><%= Error %></p>
                            </div>
                            <div class="pf-v5-c-empty-state__secondary">
                                <a href="/" class="pf-v5-c-button pf-m-primary">Go Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>