<!DOCTYPE html>
<html>
    <head>
        <title>Command Center</title>
    </head>
    <body>
        <h1>Command Center</h1>
        <a href="/">Back</a>
        {% if connection_list %}
            <p>{{ connection_list }}</p>
            <ul>
                {% for connection in connection_list %}
                    <li>
                        <a href="/command-center/terminal/{{ connection['id'] }}">{{ connection['hostname'] }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No connections found.</p>
        {% endif %}
    </body>
</html>