<!DOCTYPE html>
<html>
    <head>
        <title>File List</title>
    </head>
    <body>
        <style>
            .ascii-art {
                font-family: monospace;
                white-space: pre-wrap;
                line-height: 1.2;
                margin-bottom: 20px;
            }
        </style>
        <div class="ascii-art">
            <h1>HorizonBackbone v1.0</h1>
        </div>
        <ul>
            {% for file in file_list %}
                <li>
                    <a href="/file/{{ file }}">{{ file }}</a>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>