<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/xterm/css/xterm.css" />
    <script src="https://unpkg.com/xterm"></script>
    <script src="https://unpkg.com/xterm-addon-fit"></script>
</head>
<body>
        <h1>Active Connections</h1>
        <a href="/">Back</a>
        <ul>
            {% for client_id in active_connections %}
            <li><a href="/webterminal/{{ client_id }}">{{ client_id }}</a></li>
            {% endfor %}
        </ul>
    </body>
</html>