<!DOCTYPE html>
<html>
    <head>
        <title>Terminal</title>
    </head>
    <body>
        <h1>Terminal</h1>
        <a href="/command-center">Back</a>
        <button id="refresh">Refresh</button>
        <h4>Output</h4>
        <div id="terminal">{{ output }}</div>
        <h4>Input</h4>
        <form id="command-form">
            <input type="text" id="command-input" name="command"/>
            <input type="submit" value="Execute"/>
        </form>
        <h4>Commands</h4>
        <div id="commands">
            <p>{{ commands }}</p>
        </div>

        <script connectionId="{{ connection_id}}">
            const connectionId = document
                .getElementsByTagName('script')[0]
                .getAttribute('connectionId');
            const commandForm = document.getElementById('command-form');
            const commandInput = document.getElementById('command-input');
            const terminal = document.getElementById('terminal');
            const refreshButton = document.getElementById('refresh');

            // Submit command form
            commandForm.addEventListener('submit', (event) => {
                event.preventDefault();
                const command = commandInput.value;
                const commandQueue = document.getElementById('commands');
                const commandElement = document.createElement('p');
                commandElement.innerHTML = command;
                commandQueue.appendChild(commandElement);
                commandInput.value = '';
                fetch(`/command/${connectionId}`, {
                    method: 'POST',
                    body: JSON.stringify({command: command}),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                // Refresh command output
                fetch(`/command-list/${connectionId}`)
                    .then(
                        response => response.text()
                    )
                    .then(data => {
                        commandElement.innerHTML = data;
                    });

            });

            // Refresh output
            refreshButton.addEventListener('click', () => {
                fetch(`/command-center/terminal/${connectionId}/output`)
                    .then(
                        response => response.text()
                    )
                    .then(data => {
                        terminal.innerHTML = data;
                    });
            });
        </script>
    </body>
</html>