<!DOCTYPE html>
<html>
    <head>
        <title>Terminal</title>
    </head>
    <body>
        <h1>Terminal</h1>
        <a href="/command-center">Back</a>
        <button id="refresh">Refresh</button>
        <h4>Output</h4>
        <div id="terminal">{{ output }}</div>
        <h4>Input</h4>
        <form id="command-form">
            <input type="text" id="command-input" name="command"/>
            <input type="submit" value="Execute"/>
        </form>
        <h4>Commands</h4>
        <div id="commands">
            <!-- check if commands is empty -->
            {% if commands %}
                <p id="commandElement">{{ commands }}</p>
            {% endif %}
        </div>

        <script connectionId="{{ connection_id}}">
            const connectionId = document
                .getElementsByTagName('script')[0]
                .getAttribute('connectionId');
            const commandForm = document.getElementById('command-form');
            const commandInput = document.getElementById('command-input');
            const terminal = document.getElementById('terminal');
            const refreshButton = document.getElementById('refresh');

            // Submit command form
            commandForm.addEventListener('submit', (event) => {
                event.preventDefault();
                const command = commandInput.value;
                const commandDiv = document.getElementById('commands');
                const commandElement = document.getElementById('commandElement');
                console.log("Command: " + command);

                const data = { command: command };

                fetch('/command/${connectionId}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                })
                    .then(response => {
                        if (response.ok) {
                            return response.json();
                        } else {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                    })
                    .then(result => {
                        console.log(result);
                    })
                    .catch(error => {
                        console.error(error);
                    });

                // Refresh command output
                fetch(`/command-list/${connectionId}`)
                    .then(
                        response => response.text()
                    )
                    .then(data => {
                        console.log("Commands" + data);
                        // check if the commandElement exists
                        if (commandElement) {
                            commandElement.innerHTML = data;
                        } else {
                            commandDiv.innerHTML = `<p id="commandElement">${data}</p>`;
                        }
                    });

            });

            // Refresh output
            refreshButton.addEventListener('click', () => {
                fetch(`/command-center/terminal/${connectionId}/output`)
                    .then(
                        response => response.text()
                    )
                    .then(data => {
                        terminal.innerHTML = data;
                    });
            });
        </script>
    </body>
</html>