<!-- FILEPATH: /C:/Users/Max/Documents/GitHub/HorizonBackbone/upload-handler/templates/unsupported_file.html -->

<!DOCTYPE html>
<html>
    <head>
        <title>Unsupported File</title>
    </head>
    <body>
        <h1>Unsupported File</h1>
        <a href="/list-files-view">Back</a>
        <p>Nah, that won't work. The file you are trying to view is unsupported.</p>
        <p>You can still download the file by clicking the link below:</p>
        <a href="/download/{{ file }}" download>Download File</a>
    </body>
</html>
